.TopbarStyling {
    text-decoration: none;
    background-color: white;
    box-shadow: 2px 4px lightgray;
    padding: 28px;
    text-align: center;
}
.links {
    text-decoration: none;
    margin-right: 20px;
    color: gray;
}